{% extends 'learning_logs/base.html' %}
{% block content %}

<p>Topic: {{ topic }}</p>
<!-- Output the current topic from a template variable -->

<p>Entries:</p>

<p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
</p>

<ul>
    <!-- A bulleted list is created with weighted entries on the topic -->
    {% for entry in entries %}
    <li>
        <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
        <!-- For the timestamp the value of the attribute date_added -->

        <p>{{ entry.text|linebreaks }}</p>
        <!-- The filter makes sure that the long text contains line breaks in the format supported by the browser -->

        <p>
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a>
        </p>

    </li>
    {% empty %}
    <!-- Template tag is used to display a message about missing entries -->

    <li>There are no entries for this topic yet.</li>
    {% endfor %}
</ul>

{% endblock content %}