{% extends "learning_logs/base.html" %}
{% load bootstrap4 %} <!-- bootstrap4 template tags are loaded -->

{% block page_header %} <!-- The page_header block is defined, which describes what the page is for -->
<h2>Log in to your account.</h2>
{% endblock page_header %}


{% block content %}

<form method="post" action="{% url 'users:login' %}" class="form"> <!-- New attribute -->

    {% csrf_token %}
    {% bootstrap_form form %} <!-- The {% bootstrap_form %} template tag is used; it replaces the {{ form.as_p }} -->
    {% buttons %} <!-- Adds Bootstrap styling to buttons -->
    <button name="submit" class="btn-primary">Log in</button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    <!-- Enables the hidden 'next' form element; the value argument tells 
        Django where to to redirect the user after a successful login. -->
</form>

{% endblock content %}